<form #form="ngForm" novalidate (submit)=onSubmit(form)>
    <input type="hidden" name="paymentDetailId" value="service.pdFormData.paymentDetailId" />

    <div class="form-group">
        <label>
            Card Owner Name
        </label>
        <input type="text" class="form-control form-control-lg" name="cardOwnerName" placeholder="Card Owner Name"
            #cardOwnerName="ngModel" [(ngModel)]="service.pdFormData.cardOwnerName" required
            [class.invalid]="cardOwnerName.invalid && cardOwnerName.touched" />
    </div>

    <div class="form-group">
        <label>
            Card Number
        </label>
        <input type="text" class="form-control form-control-lg" name="cardNumber" placeholder="16 Digit Card Number"
            required #cardNumber="ngModel" [(ngModel)]="service.pdFormData.cardNumber" minlength="16" maxlength="16"
            [class.invalid]="cardNumber.invalid && cardNumber.touched" />
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label>
                Expiration Date
            </label>
            <input type="text" class="form-control form-control-lg" name="expirationDate" placeholder="MM/YY" required
                minlength="5" maxlength="5" [class.invalid]="expirationDate.invalid && expirationDate.touched"
                #expirationDate="ngModel" [(ngModel)]="service.pdFormData.expirationDate" />

        </div>
        <div class="form-group col-md-6">
            <label>
                Security Code
            </label>
            <input type="text" class="form-control form-control-lg" name="securityCode" placeholder="Security Code"
                required minlength="3" maxlength="3" #securityCode="ngModel"
                [(ngModel)]="service.pdFormData.securityCode"
                [class.invalid]="securityCode.invalid && securityCode.touched" />
        </div>
    </div>

    <div class="container">
        <button class="btn btn-info btn-lg" type="submit" [disabled]="form.invalid">
            Submit
        </button>
        <button class="btn btn-default" type="button" (click)=resetForm(this.form)>
            Cancel
        </button>
    </div>
    <div class="container">
        <h2>Button Sizes</h2>
        <button type="button" class="btn btn-primary btn-lg">Large</button>
        <button type="button" class="btn btn-primary">Normal</button>
        <button type="button" class="btn btn-primary btn-sm">Small</button>
        <button type="button" class="btn btn-primary btn-xs">XSmall</button>
    </div>

    <div class="container">
        <h2>Button Styles</h2>
        <button type="button" class="btn">Basic</button>
        <button type="button" class="btn btn-default">Default</button>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-link">Link</button>
    </div>
</form>